
<div class="banner">
  <h2><strong>Alquiler de autos en Lima</strong></h2>
  <nav class="search">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Lugar" aria-label="Search">
      <input class="form-control mr-sm-2" type="date" placeholder="Check in" aria-label="Search">
      <input class="form-control mr-sm-2" type="date" placeholder="Check out" aria-label="Search">
      <button class="btn-1 btn-light my-2 my-sm-0" type="submit"><i class="fas fa-search-location"></i></button>
    </form>
  </nav>
</div>

<section class="cards">
  <h2><strong>Los más populares</strong></h2>
  <div class="container">
    <div class="row justify-content-between">
      <% @cars.each_with_index do |car, index|%>
        <% if index < 3 %>
          <div class="card-car col-12 col-md-5 col-lg-3">
            <div class="img-car">
              <img src="https://www.pngall.com/wp-content/uploads/2018/04/Sedan-Transparent.png" alt="">
            </div>
            <div class="info-car">
              <p class="tipo-car"><%= car.model%></p>
              <p class="model-car"><%= car.brand%> <%= car.year.year%></p>
              <small class="text-muted"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>  4.85</small>
              <div class="line"></div>
              <div class="info-price-car">
                <p class="info-price">DÍA DESDE</p>
                <p class="price-car">S/.<%= car.price_per_day%></p>
              </div>
              <%= link_to "Ver detalles", car_path(car), class:"btn" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
<section class="experience">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1502489597346-dad15683d4c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDZ8fGNhciUyMGJhY2tncm91bmRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60)">Prueba nuestro servicio</div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1617083278635-f27a36dbcb8e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Njl8fGNhciUyMGJhY2tncm91bmRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60)">Mejores experiencias</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="owner">
  <div class= container>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1520611980017-9562f7d6dc82?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTAwfHxwcm9maWxlJTIwcGljdHVyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60)">¿Tienes preguntas sobre como alquilar tu vehículo?</div>
</div>

</section>
<section class="advantages">
<h2>¿POR QUÉ RESERVAR TU AUTO CON NOSOTROS?</h2>
  <div class="container">
    <article class="advantage">
      <i class="fas fa-dollar-sign"></i>
      <h4>Las mejores tarifas</h4>
      <div class="line"></div>
      <p>Los mejores precios del mercado y sin cargos ocultos.
      Aceptamos todas las tarjetas para que disfrutes de tu
      recorrido.</p>
    </article>
    <article class="advantage">
      <i class="fas fa-check"></i>
      <h4>Buenos vehículos</h4>
      <div class="line"></div>
      <p>Todos nuestros vehículos están en muy buen estado, en constante revisión para que no tengas inconvenientes durante tu viaje.</p>
    </article>
    <article class="advantage">
      <i class="fas fa-star"></i>
      <h4>Excelente atención</h4>
      <div class="line"></div>
      <p>Nuestro objetivo es brindar la mejor experiencia en alquiler de autos a nuestros clientes con una atención personalizada.</p>
    </article>
  </div>
</section>
