
<div class="banner" style="background-image:url('https://images.unsplash.com/photo-1549317661-bd32c8ce0db2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80')">
  <h2>Alquiler de autos en Lima</h2>
  <div>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="City" aria-label="Search">
      <input class="form-control mr-sm-2" type="date" placeholder="Check in" aria-label="Search">
      <input class="form-control mr-sm-2" type="date" placeholder="Check out" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</div>

<section class="cards">
  <h2>ELIGE TU COCHE</h2>
  <div class="container">
  <% @cars.each do |car|%>
    <div class="card-car">
      <div class="info-car">
      <p><b>S/.<%= car.price_per_day%> / dia</b></p>
      <p><b>Ciudad:</b> <%= car.city%></p>
      <p><b>Marca:</b> <%= car.brand%></p>
      <p><b>Modelo:</b> <%= car.model%></p>
      <%= link_to "Ver auto", car_path(car), class:"btn" %>
      </div>
      <div class="img-car">
      <img src="https://www.pngall.com/wp-content/uploads/2018/04/Sedan-Transparent.png" alt="">
      </div>
    </div>
  <% end %>
  </div>
</section>
<section class="advantages">
<h2>¿POR QUÉ RESERVAR TU AUTO CON NOSOTROS?</h2>
  <div class="container">
    <article class="advantage">
      <i class="fas fa-dollar-sign"></i>
      <h4>Las mejores tarifas</h4>
      <div class="line"></div>
      <p>Los mejores precios del mercado y sin cargos ocultos.
      Aceptamos todas las tarjetas para que disfrutes de tu
      recorrido.</p>
    </article>
    <article class="advantage">
      <i class="fas fa-check"></i>
      <h4>Buenos vehículos</h4>
      <div class="line"></div>
      <p>Todos nuestros vehículos están en muy buen estado, en constante revisión para que no tengas inconvenientes durante tu viaje.</p>
    </article>
    <article class="advantage">
      <i class="fas fa-star"></i>
      <h4>Excelente atención</h4>
      <div class="line"></div>
      <p>Nuestro objetivo es brindar la mejor experiencia en alquiler de autos a nuestros clientes con una atención personalizada.</p>
    </article>
  </div>
</section>
