<h1>New Car</h1>
<%= simple_form_for @car do |f| %>
  <%= f.input :brand%>
  <%= f.input :model%>
  <%= f.input :year, collection: 1980..(Date.today.year) %>
  <%= f.input :number_plate %>
  <%= f.input :color %>
  <%= f.input :city %>
  <%= f.input :price_per_day %>
<% end %>
