<div class="container">
  <div class="card bg-dark text-black">
    <img class="card-img" src="https://images.unsplash.com/photo-1571203483902-4ee1555f0777?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fGRvZGdlJTIwY2hhcmdlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Card image">
    <div class="card-img-overlay">
      <h4 class="card-title">S/.<%= @car.price_per_day %> por día</h4>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= @car.city %></li>
      <li class="list-group-item"><%= @car.rating %></li>
      <li class="list-group-item"><%= @car.model %></li>
      <li class="list-group-item"><%= @car.color %></li>
      <li class="list-group-item"><%= @car.number_plate %></li>
      <li class="list-group-item"><%= @car.year %></li>
    </ul>
  </div>
</div>
<div>
    <%= link_to "Volver al listado", cars_path %>
    <%= link_to "Editar", new_car_path %>
    <%= link_to "Eliminar", car_path(@car), method: :delete,
              data: { confirm: "Are you sure?" }  %>
  </div>
